*  {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* html, body {
    overflow-x: hidden;
} */
body {
    margin: 25px;
    height: 90vh;
    -webkit-bacground-size: cover;
    background-color: rgb(213, 225, 239);
}
.top-header h1 {
    margin-top: 20px;
    margin-left: 250px;
}
.top-header p {
    margin-left: 170px;
    font-size: 15px;
    color: gray;
    margin-top: 10px;
}
#nav {
    position: relative;
}
#nav ul{
    display: none;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
#nav ul li a {
    display: block;
    padding: 1em;
    background-color: rgb(213, 225, 239);
    color: black;
    text-decoration: none;
    border-right: 1px solid #fafafa;
    font-family: candal;
}
#nav ul li a:hover {
    background: black;
    color: white;
}
#nav ul li:last-of-type a {
    border-right: 0;
}
#nav ul li ul li a {
    padding-left: 1.7em;
}
#nav ul li ul li ul li a {
    padding-left: 3.125em;
}
#nav input.menu-icon:checked ~ ul, 
#nav input.menu-icon:checked ~ ul li ul {
    display: inline-block;
}
@media (min-width: 48em) {
    #nav input.menu-icon:checked ~ ul,
    #nav input.menu-icon:checked ~ ul li ul {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row;
    }
}
#nav label {
    position: relative;
    display: block;
    min-height: 2em;
    padding: .45em;
    font-size: 1.5em;
    margin: 0;
    cursor: pointer;
    background: black;
    line-height: 2em;
    color: #fff;
}
#nav label:after {
    position: absolute; right: 1em; top: .2em;
    content: '\2261';
    font-size: 1.8em;
    color: #fff;
}
@media (min-width: 48em) {
    #nav ul {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row;
    }
    #nav ul li {
        position: relative;
        text-align: center;
        flex: 1;
    }
    #nav ul li ul {
        display: none !important;
        position: absolute;
        top: 3.55em;
        left: 0;
        display: block;
        width: 16.5em;
        z-index: 200;
    }
    #nav ul li ul li {
        text-align: center;
    }
    #nav ul li ul li ul {
        z-index: 300;
        top: 0;
        left: 16.4em;
    }
    #nav ul li ul li ul li a {
        padding-left: 30px !important;
    }
    #nav ul li:hover > ul {
        display: block !important;
    }
    #nav label {
        display: none;
    }
}
@media (max-width: 600px) {
    .top-header h1 {
        position: relative; right: 200px;
    }
    .top-header p {
        position: relative; right: 150px;
    }
}
.a-1 {
    color: black;
    text-decoration: none;
    position: relative; bottom: 50px; left: 1500px;
    margin-left: 30px;
}

@media (max-width: 1300px) {
    .a-1 {
        position: relative; left: 650px;
    }
}
@media (max-width: 768px) {
    .a-1 {
        position: relative; left: 450px; top: 10px;
    }
}
@media (max-width: 600px) {
    .a-1 {
        position: relative; left: 200px; top: 5px;
    }
}
.mainheader img {
    width: 100%;
    margin-top: 0px;
}
.medgeo {
    border-top: solid 3px black;
    width: 60%;
    margin: auto;
    position: relative; top: 25px;
    height: 130px;
    background-color: rgb(244, 244, 244);
}
.medgeo h2 {
    padding: 20px;
}
.medgeo a {
    margin-left: 20px;
    font-size: 15px;
    line-height: -60px;
    position: relative; bottom: 10px;
}
.medgeo button {
    width: 20%;
    height: 50px;
    position: absolute; right: 1px;
    margin-right: 20px;
    margin-top: -60px;
    color: white;
    border-radius: 1px;
    background-color: gray;
    border: none;
}
.medgeo button:hover {
    background-color: red;
    cursor: pointer;
}
.medgeo span {
    margin-left: 20px;
}
@media (max-width: 1680px) {
    .medgeo button {
        margin-top: -80px;
    }
}
@media (max-width: 1305px) {
    .medgeo button {
        margin-top: -100px;
    }
}
@media (max-width: 905px) {
    .medgeo {
        height: 200px;
    }
    .medgeo a {
        position: relative; top: 15px;
    }
}
@media (max-width: 768px) {
    .medgeo {
        height: 300px;
    }
    .medgeo button {
        margin-top: 100px;
        margin-right: 42px;
        width: 80%;
    }
}
@media (max-width: 732px) {
    .medgeo button {
        margin-top: 85px;
    }
}
@media (max-width: 600px) {
    .medgeo button {
        margin-top: 85px;
        margin-right: 55px;
    }
    .medgeo {
        width: 100%;
        height: 260px;
    }
}
@media (max-width: 595px) {
    .medgeo button {
        margin-top: 50px;
    }
}
@media (max-width: 500px) {
    .medgeo button {
        margin-top: 50px;
    }
    .logo {
        display: block;
    }
}
.logo {
    justify-content: center;
}
.logo img {
    margin-top: 30px;
    width: 18%;
    padding-left: 30px;
    margin-left: 140px;
    margin-right: -120px;
    height: 100px;
}
@media (min-width: 1700px) {
    .logo img {
        margin-left: 20px;
        margin-right: -350px;
    }
    .logo {
        display: flex;
    }
}
@media (max-width: 1699px) {
    .logo img {
        margin-left: 250px;
        margin-right: -230px;
    }
    .under div {
        margin-left: -40px;
        margin-right: 105px;
    }
}
@media (max-width: 1750px) {
    .logo img {
        margin-left: 100px;
        margin-right: -80px;
    }
    .under div {
        margin-left: -65px;
        margin-right: 125px;
    }
}
@media (max-width: 1700px) {
    .logo img {
        margin-left: 330px;
        margin-right: -300px;
    }
    .under div {
        margin-left: -80px;
        margin-right: 130px;
    }
}
@media (max-width: 1586px) {
    .logo img {
        margin-left: 315px;
        margin-right: -300px;
    }
    .under div {
        margin-left: -100px;
        margin-right: 135px;
    }
}
@media (max-width: 1450px) {
    .logo img {
        margin-left: 300px;
        margin-right: -300px;
    }
    .under div {
        margin-left: -100px;
        margin-right: 140px;
    }
    .under {
        position: relative; right: 180px;
    }
    .under, fieldset {
        border: none;
        gap: -25px;
        justify-content: center;
    }
    .a-1 {
      position: relative;  left: 1100px; top: 11px;
    }
}
@media (max-width: 1300px) {
    .logo img {
        margin-left: 280px;
        margin-right: -300px;
    }
    .under fieldset {
        
    }
    .a-1 {
        position: relative; left: 1000px;
    }
}
@media (max-width: 1100px) {
    .logo img {
        margin-left: 220px;
        margin-right: -250px;
        width: 30%;
    }
    .under fieldset {
    
    }
    .a-1 {
        position: relative; left: 750px;
    }
}
@media (max-width: 1000px) {
    .logo img {
        margin-left: 120px;
        margin-right: -350px;
        position: relative; right: 120px;
        width: 25%;
    }
    .logo {
        display: flex;
    }
    .logo img:nth-child(3) {
        margin-right: -450px;
    }
    .under fieldset {
    }
    .a-1 {
        position: relative; left: 650px;
    }
    
}
@media (max-width: 768px) {
    .logo img {
        margin-left: 120px;
        margin-bottom: -29px;
        display: block;
        width: 60%;
    }
    .under {
       
    }
    .a-1 {
        position: relative; left: 350px;
    }
}
@media (max-width: 600px) {
    .logo img {
        margin-left: -15px;
        margin-bottom: -29px;
        display: block;
        width: 100%;
    }
    .under, fieldset {
        position: relative; right: 130px;
    }
    .a-1 {
        position: relative; left: 200px;
    }
    .under {
        
    }
}
.underlogo {
    border: solid 1px black;
    width: 50%;
    margin-left: 450px;
    margin-right: 500px;
}
.under-1 {
    border: solid 1px black;
    width: 21%;
}
.under-2 {
    border: solid 1px black;
    width: 21%;
    margin-left: 57px;
}
.under-3 {
    border: solid 1px black;
    width: 21%;
    margin-left: 57px;
}
.under  {
    display: flex;
    margin-left: 420px;
}
.under div {
    height: 250px;
    margin-top: -3px;
    border: none;
    border-top: solid 3px black;
    background-color: beige;
}
.under div h2 {
    padding: 30px;
    font-size: 20px;
}
.under div p {
    margin-left: 30px;
}

.under div button:hover {
    cursor: pointer;
    background-color: red;
}
.under fieldset h2 {
    padding: 20px;
}
.under fieldset {
    width: 20%;
    margin-left: 2px;
    margin-right: 75px;
    border: none;
    border-top: solid 3px black;
    background-color: beige;
}
.under fieldset button {
    margin-left: 30px;
    margin-top: 20px;
    width: 35%;
    height: 30px;
    border-radius: 1px;
    border: none;
    color: white;
    background-color: rgb(128, 128, 128);
}
.under fieldset button:hover {
    cursor: pointer;
    background-color: black;
}
.under fieldset p {
    margin-left: 30px;
}
.logo fieldset  {
    width: 16%;
}
.logo {
    justify-content: center;
}
.logo fieldset {
    margin-top: 135px;
    margin-left: 47px;
    border: none;
    border-top: solid 3px black;
    background-color: bisque;
}
.logo fieldset h2 {
    padding: 20px;
}
.logo fieldset p {
    margin-left: 20px;
}
.logo fieldset button {
    margin-top: 5px;
    margin-left: 20px;
    background-color: rgb(128, 128, 128);
    border: none;
    border-radius: 1px;
    height: 30px;
    width: 40%;
    color: white;
}
.col-sm-4 {
    border: solid 3px blueviolet;
    border-radius: 10px 1px 10px 1px;
    background-color: rgb(244, 244, 244)
}
.col-sm-4 button {
    border: none;
    border-radius: 10px 1px 10px 1px;
    background-color: rgb(128, 128, 128);
    width: 35%;
    height: 30px;
    color: white;
}
.col-sm-4 button:hover {
    background-color: red;
    cursor: pointer;
}
.article-1  {
    border: solid 1px black;
    width: 70%;
    position: relative;
    border: none;
    background-color: rgb(244, 244, 244);
    border-top-left-radius: 10px;
    margin-top: 155px;
}
.article-1 img {
    width: 300px;
    position: absolute; left: 0;
    border-top-left-radius: 10px;
}
.article-1 p {
    width: 50%;
    float: right;
}
.article-1 h4 {
    float: right;
    margin-right: 329px;
    margin-top: 30px;
}
.article-1 .h4-1 {
    position: relative; left: 225px;
}
.h4-2 {
    position: relative; left: 80px;
}
.article-1 button {
    z-index: 999;
    background-color: rgb(128, 128, 128);
    margin-top: 270px;
    margin-bottom: 10px;
    float: right;;
    margin-right: -135px;
    width: 15%;
    height: 30px;
    border-radius: 10px 1px 10px 1px;
    border: none;
}
.article-1 button:hover {
    background-color: black;
    color: white;
}
.article-1 a {
    color: black;
}
.article-1 a :hover {
    cursor: pointer;
}
.article-1 {
    position: relative;
}
.btn-2 {
    position: relative; top: 23px;
}
.btn-3 {
    position: relative; top: 23px;
}
.right-menu {
    border: solid 1px black;
    width: 25%;
    margin-left: 987px;
    margin-top: 100px;
    border: none;
    background-color: rgb(244, 244, 244);
    border-top: solid 5px black;
    border-radius: 10px 1px 10px 1px;
}
.right-menu ul {
    list-style: none;
}
.right-menu a {
    text-decoration: none;
    color: black;
    line-height: 30px;
}
.right-menu hr {
    width: 120%;
    position: relative; left: -43px;
}
.article-1 {
    position: relative; top: -4700px;
}
.right-menu-2 {
    border: solid 1px black;
    width: 25%;
    margin-left: 987px;
    margin-top: 180px;
    border: none;
    background-color: rgb(244, 244, 244);
    border-top: solid 5px black;
    border-radius: 10px 1px 10px 1px;
}
.right-menu-2 ul {
    list-style: none;
}
.right-menu-2 a {
    text-decoration: none;
    color: black;
    line-height: 30px;
}
.right-menu-2 hr {
    width: 120%;
    position: relative; left: -43px;
}
.right-menu-3 {
    border: solid 1px black;
    width: 25%;
    margin-left: 987px;
    margin-top: 180px;
    border: none;
    background-color: rgb(244, 244, 244);
    border-top: solid 5px black;
    border-radius: 10px 1px 10px 1px;
}
.right-menu-3 ul {
    list-style: none;
}
.right-menu-3 a {
    text-decoration: none;
    color: black;
    line-height: 30px;
}
.right-menu-3 hr {
    width: 120%;
    position: relative; left: -43px;
}
.right-menu-4 {
    border: solid 1px black;
    width: 25%;
    margin-left: 987px;
    margin-top: 180px;
    border: none;
    background-color: rgb(244, 244, 244);
    border-top: solid 5px black;
    border-radius: 10px 1px 10px 1px;
}
.right-menu-4 ul {
    list-style: none;
}
.right-menu-4 a {
    text-decoration: none;
    color: black;
    line-height: 30px;
}
.right-menu-4 hr {
    width: 120%;
    position: relative; left: -43px;
}
.right-menu-5 {
    border: solid 1px black;
    width: 25%;
    margin-left: 987px;
    margin-top: 180px;
    border: none;
    background-color: rgb(244, 244, 244);
    border-top: solid 5px black;
    border-radius: 10px 1px 10px 1px;
}
.right-menu-5 ul {
    list-style: none;
}
.right-menu-5 a {
    text-decoration: none;
    color: black;
    line-height: 30px;
}
.right-menu-5 hr {
    width: 120%;
    position: relative; left: -43px;
}
.right-menu-6 {
    border: solid 1px black;
    width: 25%;
    margin-left: 987px;
    margin-top: 180px;
    border: none;
    background-color: rgb(244, 244, 244);
    border-top: solid 5px black;
    border-radius: 10px 1px 10px 1px;
}
.right-menu-6 ul {
    list-style: none;
}
.right-menu-6 a {
    text-decoration: none;
    color: black;
    line-height: 30px;
}
.right-menu-6 hr {
    width: 120%;
    position: relative; left: -43px;
}
.signinbox {
    border: solid 1px black;
    width: 40%;
    height: 200px;
    position: relative;
    margin: auto;
    margin-top: 200px;
    background-image: linear-gradient(to left, black, gray);
    border-radius: 10px 1px 10px 1px;
    border: none;
}
.right-menu ul li :hover {
    color: red;
    transform: scale(1);
    font-weight: bolder;
}
.right-menu h4:hover {
    color: black;
    transform: scale(1);
    font-weight: 500;
}
.right-menu-2 ul li :hover {
    color: red;
    transform: scale(1);
    font-weight: bolder;
}
.right-menu-2 h4:hover {
    color: black;
    transform: scale(1);
    font-weight: 500;
}
.right-menu-2 h5:hover {
    color: black;
    transform: scale(1);
    font-weight: 500;
}
.right-menu-3 ul li :hover {
    color: red;
    transform: scale(1);
    font-weight: bolder;
}
.right-menu-3 h4:hover {
    color: black;
    transform: scale(1);
    font-weight: 500;
}
.right-menu-3 h5:hover {
    color: black;
    transform: scale(1);
    font-weight: 500;
}
.right-menu-4 ul li :hover {
    color: red;
    transform: scale(1);
    font-weight: bolder;
}
.right-menu-4 h4:hover {
    color: black;
    transform: scale(1);
    font-weight: 500;
}
.right-menu-4 h5:hover {
    color: black;
    transform: scale(1);
    font-weight: 500;
}
.right-menu-5 ul li :hover {
    color: red;
    transform: scale(1);
    font-weight: bolder;
}
.right-menu-5 h4:hover {
    color: black;
    transform: scale(1);
    font-weight: 500;
}
.right-menu-5 h5:hover {
    color: black;
    transform: scale(1);
    font-weight: 500;
}
.right-menu-6 ul li :hover {
    color: red;
    transform: scale(1);
    font-weight: bolder;
}
.right-menu-6 h4:hover {
    color: black;
    transform: scale(1);
    font-weight: 500;
}
.right-menu-6 h5:hover {
    color: black;
    transform: scale(1);
    font-weight: 500;
}
.signinbox input {
    margin-top: 45px;
    height: 30px;
    margin-left: 60px;
    border-radius: 10px 1px 10px 1px;
    border: none;
}
.signinbox a {
    float: left;
    margin-top: 50px;
    position: relative; left: 30px;
    font-weight: bolder;
}
.acc {
    color: red;
    float: right;
}
.acc-1 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 17px;
}
.acc-1:hover {
    color: white;
}
.signinbox ::placeholder {
    text-align: center;
}
.signinbox img {
    width: 58%;
    height: 200px;
    float: right;
    position: absolute; top: 0; right: 0;
    /* border-left: solid 3px red; */
    border-radius: 10px 1px 10px 1px;
    border: none;
    border-top-left-radius: 1px;
}
.signin-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.signin-button button {
    width: 20%;
    height: 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px 1px 10px 1px;
    background-color: #444;
}
.signin-button button:hover {
    cursor: pointer;
    color: white;
}
.registrationbox {
    border: solid 1px black;
    width: 40%;
    margin: auto;
    height: 650px;
    position: relative;
    display: grid;
    border: none;
    border-radius: 10px 1px 10px 1px;
    background-color: rgb(190, 190, 190);
}
.registrationbox input {
    height: 30px;
    display: block;
    border: none;
    border-radius: 10px 1px 10px 1px;
}
.registrationbox a {
    font-weight: bolder;
    margin-left: -155px;
    text-align: left;
    margin-top: -25px;
    float: left;
}
.registrationbox img {
    width: 100%;
    position: absolute; bottom: 0; right: 0;
}
.regchild {
    margin: auto;
    margin-top: 100px;
}
.registrationbox select {
    width: 100%;
    height: 30px;
    border-radius: 10px 1px 10px 1px;
}
.gender {
    position: relative; top: 30px;
}
.registration-button {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.registration-button button {
    border: none;
    background-color: #444;
    height: 30px;
    font-size: 18px;
    width: 120%;
    border-radius: 10px 1px 10px 1px;
}
.registration-button button:hover {
    cursor: pointer;
    color: white;
}
.h4-3 {
    position: relative; left: -70px;
}
.implant {
    margin-right: 400px;
}
.page-div {
    border: solid 1px black;
    display: flex;
    gap: 10px;
    margin-top: -4780px;
    width: 50%;
    margin-left: -12px;
    border: none;
}
.page {
    border: solid 1px black;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 10px 1px 10px 1px;
}
.page-div a {
    text-decoration: none;
    color: black;
}
.page-div a:hover {
    color: white;
    background-color: black;
    border-radius: 10px 1px 10px 1px;
}
.page-div a:nth-child(1) {
    background-color: black;
    color: white;
    border-radius: 10px 1px 10px 1px;
}
.footer {
    border: solid 1px black;
    width: 100%;
    height: 300px;
    margin-left: -25px;
    background-color: rgb(244, 244, 244);
    border: none;
    position: relative; bottom: 4700px;
}
.hr-footer {
    position: relative; top: 250px;
}
.p-footer {
    text-align: start;
    width: 50%;
    margin-left: 300px;
}
.p-footer-2 {
    text-align: center;
    position: relative; top: 185px;
}
.footer a {
    color: black;
}
.languages {
    position: fixed;
    top: 10px;
    right: 8%;
    z-index: 999999;
    text-decoration: none;
}
.languages a {
    text-decoration: none;
    color: black;
}
.languages a :hover {
    color: red;
}
.contact input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 10px 1px 10px 1px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical
}
.contact input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px 1px 10px 1px;
    cursor: pointer;
}
.contact input[type=submit]:hover {
    background-color: #45a049;
}
.contact {
    border-radius: 10px 1px 10px 1px;
    background-color: rgb(242, 242, 242);
    padding: 20px;
    width: 50%;
    margin: auto;
    margin-top: 100px;
}
.search {
    position: relative; top: 15px; left: 0px;
    height: 35px;
    border-radius: 10px 1px 10px 1px;
}
.searchsubmit {
    position: relative; top: 15px; left: 0px;
    height: 35px;
    border-radius: 10px 1px 10px 1px;
    border: none;
    
} 
.searchsubmit:hover {
    background-color: black;
    color: white;
}
.top-header a {
    color: black; 
    text-decoration: none;
}
.animation {
    width: 300px;
    height: 25px;
    background-color: red;
    animation-name: anime;
    animation-duration: 4s;
    text-align: center;
    font-weight: bolder;
    color: white;
    animation-iteration-count: infinite;
    margin: auto;
    margin-top: 20px;
}
@keyframes anime {
    0%   {background-color: black;}
    25%  {background-color: black;
          transform: scale(1.5);   }
    50%  {background-color: red;}
    100% {background-color: red;}
  }
@media (min-width: 1284px) {
    .medgeo button {
        margin-left: -500px;
    }
}
@media (max-width: 1399px){
    .article-1 {
        position: relative; top: -4850px;
    }
    .article-1 h4 {
        position: relative; left: 60px;
    }
    .article-1 button {
        position: relative; right: 250px;
    }
    .right-menu {
        position: relative; left: -150px;
    }
    .right-menu-2 {
        position: relative; left: -150px;
    }
    .right-menu-3 {
        position: relative; left: -150px;
    }
    .right-menu-4 {
        position: relative; left: -150px;
    }
    .right-menu-5 {
        position: relative; left: -150px;
    }
    .right-menu-6 {
        position: relative; left: -150px;
    }
    .a-1 {
        position: relative; left: 900px;
    }
    .article-1 .h4-2 {
        position: relative; left: 145px;
    }
    .article-1 .h4-3 {
        width: 500px;
    }
    .article-1 .implant {
        width: 500px;
        position: relative; left: 130px;
    }
    .article-1 .h4-5 {
        position: relative; left: 385px;
    }
    .medgeo button {
        position: relative; top: -120px;
    }
    .medgeo {
        height: 200px;
    }
    .article-1 .h4-6 {
        position: relative; left: 313px;
    }
    .article-1 .h4-7 {
        position: relative; left: 232px;
    }
    .article-1 .h4-8 {
        position: relative; left: 68px;
    }
    .article-1 .h4-9 {
        position: relative; left: 390px;
    }
    .article-1 .h4-10 {
        position: relative; left: 110px;
    }
    .article-1 .sibrdzniskbili {
        position: relative; right: 325px;
    }
    .article-1 .btn-5 {
        position: relative; top: 20px;
    }
    .medgeo button {
        position: relative; left: 500px; top: -130px;
    }
    .p-footer-2 {
        position: relative; top: 150px;
    }
}
@media (max-width: 1199px) {
    .article-1 {
        position: relative; top: -5050px;
    }
    .article-1 h4 {
        position: relative; left: 120px;
    }
    .right-menu {
        position: relative; left: -280px;
    }
    .right-menu-2 {
        position: relative; left: -280px;
    }
    .right-menu-3 {
        position: relative; left: -280px;
    }
    .right-menu-4 {
        position: relative; left: -280px;
    }
    .right-menu-5 {
        position: relative; left: -280px;
    }
    .right-menu-6 {
        position: relative; left: -280px;
    }
    .registrationbox input {
        margin-left: 200px;
    }
    .registrationbox select {
        width: 30%;
        margin-left: 200px;
    }
    .registration-button button {
        width: 30%;
        margin-left: 120px;
    }
    .registrationbox a {
        margin-left: 50px;
    }
    .a-1 {
        display: none;
    }
    .article-1 .h4-1 {
        position: relative; left: 287px;
    }
    .article-1 .h4-2 {
        position: relative; left: 205px;
    }
    .article-1 .h4-3 {
        position: relative; left: 200px;
    }
    .article-1 .implant {
        position: relative; left: 272px;
    }
    .article-1 .btn-3 {
        position: relative; left: 250px; top: -20px;
    }
    .a-1 {
        display: inline;
        position: relative; left: 700px;
    }
    .medgeo button {
        position: relative; left: 450px;
    }
    .p-footer-2 {
        position: relative; top: 130px;
    }
}
@media (max-width: 990px) {
    .article-1 p {
        float: none;
        position: relative; top: 160px;
        margin-left: 30px;
    }
    .article-1 {
        height: 900px;
        position: relative; top: -5550px;
    }
    .article-1 h4 {
        float: none;
        position: relative; left: 30px; top: 140px;
    }
    .article-1 button {
        position: relative; bottom: 120px; left: -490px;
        width: 20%;
    }
    .btn-3 {
        position: relative; top: -110px; left: -490px;
    }
    .btn-2 {
        position: relative; top: -110px; left: -490px;
    }
    .right-menu {
        position: relative; left: -470px;
    }
    .right-menu-2 {
        position: relative; left: -470px;
    }
    .right-menu-3 {
        position: relative; left: -470px;
    }
    .right-menu-4 {
        position: relative; left: -470px;
    }
    .right-menu-5 {
        position: relative; left: -470px;
    }
    .right-menu-6 {
        position: relative; left: -470px;
    }
    .registrationbox input {
        margin-top: 30px;
        margin-left: 100px;
    }
    .registrationbox a {
        margin-top: -55px;
        margin-left: 120px;
    }
    .gender {
        position: relative; top: 40px;
    }
    .registrationbox select {
        margin-left: 120px;
        margin-top: 10px;
    }
    .registrationbox button {
        margin-left: -22px;
        margin-top: -50px;
    }
    .article-1 a {
        text-decoration: none;
    }
    .article-1 .h4-3 {
        position: relative; left: -5px;
    }
    .article-1 .h4-4 {
        position: relative; right: 205px; top: -20px;
    }
    .article-1 .sibrdzniskbili {
        top: -20px;
    }
    .article-1 .btn-5 {
        position: relative; top: -250px;
    }
    .article-1 .implant {
        position: relative; left: -35px;
    }
    .article-1 .dagliloba {
        position: relative;
    }
    .article-1 .h4-5 {
        position: relative; top: -20px;
    }
    .article-1 .sindromi {
        position: relative; top: -20px;
    }
    .article-1 .btn-6 {
        position: relative; left: -250px; top: -350px;
    }
    .page-div {
        position: relative; top: -700px;
    }
    .footer {
        position: relative; top: -5300px;
    }
    .p-footer-2 {
        position: relative; top: 100px;
    }
    .a-1 {
        position: relative; left: 600px;
    }
    .medgeo {
        height: 200px;
    }
    .medgeobutton {
        position: relative; top: 120px;
    }
    .a-1 {
        display: inline;
        position: relative; left: 500px;
    }
    .medgeo button {
        position: relative; left: 300px;
    }
    
}@media (max-width: 768px) {
    .article-1 {
        width: 100%;
        position: relative; top: -10px;
    }
    .article-1 p {
        float: right;
        font-size: 18px;
        margin-top: -50px;
    }
    .article-1 h4 {
        float: right;
        position: relative; left: 185px;
        margin-top: -100px;
    }
    .article-1 img {
        width: 250px;
    }
    .article-1 button {
        position: relative; top: 300px;
    }
    .right-menu {
        display: none;
    }
    .right-menu-2 {
        display: none;
    }
    .right-menu-3 {
        display: none;
    }
    .right-menu-4 {
        display: none;
    }
    .right-menu-5 {
        display: none;
    }
    .right-menu-6 {
        display: none;
    }
    .signinbox {
        margin-top: 60px;
        border-radius: 1px;
    }
    .signinbox img {
        margin-top: 200px;
        width: 100%;
        border-radius: 1px;
    }
    .signinbox a {
        margin-left: 75px;
        margin-top: -55px;
    }
    .signinbox input {
        margin-left: 52px;
    }
    .signin-button {
        margin-top: 220px;
    }
    .registrationbox input {
        margin-left: 20px;
    }
    .registrationbox a {
        margin-left: 20px;
    }
    .gender {
        position: relative; left: 2px;
    }
    .registration-button {
        margin-left: -105px;
        width: 200%;
    }
    .registrationbox select {
        margin-left: 20px;
        width: 60%;
    }
    .a-1 {
        position: relative; left: 400px;
    }
    .medgeo {
        height: 300px;
    }
    .col-sm-4 {
        height: 350px;
    }
    .col-sm-4 button {
        width: 70%;
    }
    .article-1 .h4-3 {
        position: relative; left: 330px;
    }
    .article-1 .implant {
        position: relative; left: 400px;
    }
    .page-div {
        position: relative; top: 4800px;
    }
    .footer {
        position: relative; top: 100px;
    }
    .p-footer {
        position: relative; left: -150px;
    }
    .p-footer-2 {
        position: relative; top: 75px;
    }
    .medgeo button {
        position: relative; top: -65px; left: 40px;
    }
    .a-1 {
        display: inline;
    }
}
@media (max-width: 600px) {
    .article-1 img {
        width: 100%;
    }
    .article-1 h4 {
        float: none;
        position: relative; left: 30px; top: 430px;
    }
    .article-1 p {
        float: none;
        margin-top: 300px;
    }
    .article-1 {
        height: 1200px;
        margin-top: 150px;
        position: relative; top: 100px;
    }
    .signinbox input {
        margin-left: 23px;
    }
    .signinbox a {
        margin-left: 45px;
    }
    .a-1 {
        position: relative; left: 100px;
    }
    .article-1 .h4-3 {
        position: relative; left: 30px;
    }
    .article-1 .implant {
        position: relative; left: 10px;
    }
    .medgeo  button {
        position: relative; top: 10px; left: 50px;
    }
    .article-1 .h4-11 {
        position: relative; top: 270px;
    }
    .article-1 .udziloba {
        position: relative; top: 20px;
    }
    .article-1 .btn-11 {
        position: relative; top: -240px; left: -450px;
    }
    .article-1 .h4-1 {
        position: relative; left: 30px; top: 300px;
    }
    .article-1 .p-12 {
        position: relative; top: 20px;
    }
    .article-1 .btn-2 {
        position: relative; top: -200px;
    }
    .article-1 .h4-2 {
        position: relative; left: 30px; top: 300px;
    }
    .article-1 .p-13 {
        position: relative; top: 20px;
    }
    .article-1 .btn-4 {
        position: relative; top: -200px;
    }
    .article-1 .implant {
        position: relative; left: -40px;
    }
    .article-1 .btn-14 {
        position: relative; top: -100px;
    }
    .article-1 .h4-4 {
        position: relative; top: 100px;
    }
    .article-1 .h4-5 {
        position: relative; left: 20px; top: 100px;
    }
    .article-1 .sindromi {
        position: relative; top: -160px;
    }
    .article-1 .btn-6 {
        position: relative; top: -600px;
    }
    .article-1 .h4-6 {
        position: relative; left: 40px;
    }
    .article-1 .h4-7 {
        position: relative; left: 40px;
    }
    .article-1 .h4-8 {
        position: relative; top: 260px;
    }
    .article-1 .depresia {
        position: relative; top: -30px;
    }
    .article-1 .h4-9 {
        position: relative; left: 40px; top: 260px;
    }
    .article-1 .yuradgeba {
        position: relative; top: -30px;
    }
    .article-1 .h4-10 {
        position: relative; top: 260px; left: 40px;
    }
    .article-1 .nevrastenia {
        position: relative; top: -30px;
    }
    .page-div {
        position: relative; top: 5000px;
    }
    .footer {
        position: relative; top: 500px; left: 30px;
    }
    .p-footer-2 {
        position: relative; top: 50px;
    }
    html, body {
        overflow-x: hidden;
    }
    .a-1 {
        display: inline;
        position: relative; left: 280px;
    }
}

nav {
        margin-top: 20px;
    }

    table {
        border-collapse: collapse;
        width: 200px;
        text-align: center;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
    }

    h3 {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: #333;
    }

